name: Deploy

on:
  push:
    branches:
      - main
      - dockerize-app
  release:
    types:
      - created
jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v1
      - name: Push to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          command_timeout: 10m
          script: cd projects/devops-mounir && git pull && docker-compose up -d --build
